.dets-topbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 10px 0;
  width: 100%;
}

.dets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.dets-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh
}

.sprites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px;
}

.sprites-container button {
  margin: 10px 5px;
}

.stats-table {
  text-align: end;
}

.stats-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stats-left {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* justify-content: center; */
}

.stats-right {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin: 0 0 0 10px;
  /* justify-content: center; */
}

.stats-col {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.type-container {
  margin: 0 0 10px;
}

.type-container span {
  margin: 0 5px;
}

.display-container {
  display: flex;
  flex-direction: column;
}

.badge-normal {
  background-color: #A8A77A;
  color: #FFFFFF;
}

.badge-fire {
  background-color: #EE8130;
  color: #FFFFFF;
}

.badge-water {
  background-color: #6390F0;
  color: #FFFFFF;
}

.badge-electric {
  background-color: #F7D02C;
  color: #FFFFFF;
}

.badge-grass {
  background-color: #7AC74C;
  color: #FFFFFF;
}

.badge-ice {
  background-color: #96D9D6;
  color: #FFFFFF;
}

.badge-fighting {
  background-color: #C22E28;
  color: #FFFFFF;
}

.badge-poison {
  background-color: #A33EA1;
  color: #FFFFFF;
}

.badge-ground {
  background-color: #E2BF65;
  color: #FFFFFF;
}

.badge-flying {
  background-color: #A98FF3;
  color: #FFFFFF;
}

.badge-psychic {
  background-color: #F95587;
  color: #FFFFFF;
}

.badge-bug {
  background-color: #A6B91A;
  color: #FFFFFF;
}

.badge-rock {
  background-color: #B6A136;
  color: #FFFFFF;
}

.badge-ghost {
  background-color: #735797;
  color: #FFFFFF;
}

.badge-dragon {
  background-color: #6F35FC;
  color: #FFFFFF;
}

.badge-dark {
  background-color: #705746;
  color: #FFFFFF;
}

.badge-steel {
  background-color: #B7B7CE;
  color: #FFFFFF;
}

.badge-fairy {
  background-color: #D685AD;
  color: #FFFFFF;
}