.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  padding: 10px;
}

.item-name {
  margin-left: 5px;
}

.item:hover {
  background-color: grey;
  cursor: pointer;
}

.home-title {
  margin: 0 0 15px;
}

.scroll-container {
  display: flex;
  
}


.badge-normal {
  background-color: #A8A77A;
  color: #FFFFFF;
}

.badge-fire {
  background-color: #EE8130;
  color: #FFFFFF;
}

.badge-water {
  background-color: #6390F0;
  color: #FFFFFF;
}

.badge-electric {
  background-color: #F7D02C;
  color: #FFFFFF;
}

.badge-grass {
  background-color: #7AC74C;
  color: #FFFFFF;
}

.badge-ice {
  background-color: #96D9D6;
  color: #FFFFFF;
}

.badge-fighting {
  background-color: #C22E28;
  color: #FFFFFF;
}

.badge-poison {
  background-color: #A33EA1;
  color: #FFFFFF;
}

.badge-ground {
  background-color: #E2BF65;
  color: #FFFFFF;
}

.badge-flying {
  background-color: #A98FF3;
  color: #FFFFFF;
}

.badge-psychic {
  background-color: #F95587;
  color: #FFFFFF;
}

.badge-bug {
  background-color: #A6B91A;
  color: #FFFFFF;
}

.badge-rock {
  background-color: #B6A136;
  color: #FFFFFF;
}

.badge-ghost {
  background-color: #735797;
  color: #FFFFFF;
}

.badge-dragon {
  background-color: #6F35FC;
  color: #FFFFFF;
}

.badge-dark {
  background-color: #705746;
  color: #FFFFFF;
}

.badge-steel {
  background-color: #B7B7CE;
  color: #FFFFFF;
}

.badge-fairy {
  background-color: #D685AD;
  color: #FFFFFF;
}